body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b9f4fb;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px rgb(0, 0, 0);
    border: 2px solid #ff5958;
    border-radius: 40px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #49b0e8;
}

h2 {
    color: #777777;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 800;
}

a {
    color: #ff5958;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 800;
}

p {
    color: #ff5958;
    font-weight: 800;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"]{
    color: #49b0e8;
    min-width: 200px;
    margin: 5px;
    padding: 10px;
    border: 2px solid #49b0e8;
    border-radius: 20px;
}

label {
    padding-top: 20px;
    font-weight: 700;
    color: #ff5958;
}

select {
    color: #49b0e8;
    font-size: 14px;
    margin: 5px;
    margin-top: 10px;
    padding: 8px;
    border: 2px solid #49b0e8;
    border-radius: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

button {
    background-color: #49b0e8;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    min-width: 200px;
}

button:hover {
    background-color: #ff5958;
    transform: scale(1.1);
  }

#summaryContainer {
    margin-top: 30px;
}

.hidden {
    display: none;
}
